<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-custom">
        <div class="container">
            <div class="navbar-header">
                <button type="button" 
                        type="button"
                        class="navbar-toggler" 
                        data-toggle="collapse" 
                        data-target=".navbar-collapse">
                   <span class="navbar-toggler-icon"></span>
                </button>
                @Html.ActionLink("My Logo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <div class="nav navbar-nav">
                    @Html.ActionLink("Home", "Index", "Home",new { }, new { @class = "nav-item nav-link"})
                    @Html.ActionLink("About", "About", "Home", new { }, new { @class = "nav-item nav-link" })
                    @Html.ActionLink("Contact", "Contact", "Home", new { }, new { @class = "nav-item nav-link" })
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
